<div class="w-100 h-100 bg-primary d-flex flex-column">
  <div>

    <h1 class="text-center text-light pt-4">Welcom To The Main Page.</h1>
  </div>
  <div>

    <p class="text-center fw-bold">please go through some navbar options!</p>
  </div>

</div>